{% extends 'main.html.twig' %}


{% block stylesheets %}
    <link href="{{asset('/css/style.css')}}" rel="stylesheet">
{% endblock %}

{% block main %}
    <article class="first-article">
        <h4 class="title"> Dis-nous ce que tu as, on te dira quoi cuisinier !</h4>
        <div class="container-homepage">
         <button class="buttonIngredient">Fais parler tes ingrédients !</button> 
        </div>
    </article>

    <article class="second-article">
        <h4 class="title2"> Nos recettes top chrono </h4>
        <table>
            <tr>
                <td><img src="pictures/recette1.jpg" alt ="text alternatif"> </td>
                <td><img src="pictures/recette2.jpg" alt ="text alternatif"> </td>
                <td><img src="pictures/recette3.png" alt ="text alternatif"> </td>
            </tr>
            <tr>
                <td><img src="pictures/recette4.png" alt ="text alternatif"> </td>
                <td><img src="pictures/recette5.jpg" alt ="text alternatif"> </td>
                <td><img src="pictures/recette6.jpg" alt ="text alternatif"> </td>
            </tr>
        </table>
    </article>
{% endblock %}