{% extends 'main.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="../Style_Sheets/Homepage_css.css">
{% endblock %}

{% block main %}
    <article>
        <h4> Dis-nous ce que tu as, on te dira quoi cuisinier !</h4>

        <input type ="button" value = "Fait vibrer tes ingrédients !">

    </article>
    <article>
        <h4> Nos recettes top chrono </h4>
        <table>
            <tr>
                <td><img src="..." alt ="text alternatif"> </td>
                <td><img src="..." alt ="text alternatif"> </td>
                <td><img src="..." alt ="text alternatif"> </td>
            </tr>
            <tr>
                <td><img src="..." alt ="text alternatif"> </td>
                <td><img src="..." alt ="text alternatif"> </td>
                <td><img src="..." alt ="text alternatif"> </td>
            </tr>
        </table>

    </article>
{% endblock %}