<DOCTYPE html>
	<html>
		<head>
			<title>FreshMatch</title>
			<link href="/css/style.css" rel="stylesheet">
		</head>

		<body>
			{% include 'fragments/header.html.twig' %}

			<main> {% block main %} {% endblock %} </main> 

            {% include 'fragments/footer.html.twig' %}
        </body> 
    </html>

