<DOCTYPE html>
	<html>
		<head>
			<title>FreshMatch</title>
			<link href="/css/style.css" rel="stylesheet">
		</head>

		<body>
			{% include 'fragments/header.html.twig' %}

			<main {% block content %} {% endblock %} </main> 

            {% include 'fragments/footer.html.twig' %}
        </body> 
    </html>

<!--
<DOCTYPE html>
    <html>
    <title> FreshMatch  </title>
    <header>
        <h1> FreshMatch </h1>
        <input class = "connexion" type ="button" value = "Se connecter ">  </input>
        <h2 id = "slogan"> Rien ne se jette tout se transforme </h2>
    </header>
    <body>
    <link rel="stylesheet" href="Footer_Header_css.css">
   {% block stylesheets %}

   {% endblock %}

    {% block main %}

    {% endblock %}
    </body>
    <footer>
        <h2>Tu veux en savoir plus sur nous ? </h2>
        <table >
            <tr>
                <td>Qui somme nous ?</td>
                <td>Nos bonne pratique </td>
                <td>Contacter-nous </td>
                <td>Nos réseaux </td>
            </tr>
            <tr>
                <td>FreshMatch c'est quoi ?</td>
                <td>Saisonnalité </td>
                <td>FAQ </td>
                <td>Instagram </td>
            </tr>
            <tr>
                <td></td>
                <td>Accessibilité  </td>
                <td>Condition d'utilisation </td>
                <td>Youtube  </td>
            </tr>
            <tr>
                <td></td>
                <td>Communauté  </td>
                <td></td>
                <td> </td>
            </tr>
        </table>
    </footer>

    </html>
</DOCTYPE>
-->