<header class="header">
	<div class="container">
		<h1>Fresh<span class="match">Match</span>
		</h1>
		<button class="login">Se connecter</button>
	</div>
	<h2 class="slogan">Rien ne se
		<span class="jette">jette</span>,
		<br>tout se
		<span class="savoure">savoure</span>
		!
	</h2>
</header>
